.container {
	padding: 20px 24px 8px;
}

.heading {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	color: #828282;
}

.card {
	padding: 18px;
	margin: 16px 0;
	background: #fdfbf7;
	border: 1px solid transparent;
	border-radius: 6px;

	&:hover {
		cursor: pointer;
		border: 1px solid #edd7a9;
		box-shadow: 0 0 8px #627fac33;
	}
}
