.container {
	padding: 4px 16px;
}

.line {
	position: absolute;
	top: 0;
	height: 100%;
	transform: translateY(36px);
}

.btn {
	margin-right: 8px;
	font-size: 12px;
	font-weight: 500;
	line-height: 150%;
	color: #ee3425;
	background-color: #fff;
	border: none;
}

.btn:hover {
	cursor: pointer;
}
