.popup_container {
	max-width: 200px;
	cursor: default;

	p {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		font-size: 10px;
	}

	svg {
		font-size: 14px;
	}
}

.icon {
	margin-left: 12px;
}

.icon:hover {
	cursor: pointer;
	fill: #ed1c24;
}
