.container {
	--layout-main-nav: 56px;
	--layout-startbar: 230px;
	--layout-endbar: 230px;
	--color-main-nav-primary: #d51d10;
	--color-main-nav-secondary: #d46a6a;

	min-height: 100vh;
	padding-top: var(--layout-main-nav);

	@media (max-height: 600px) {
		min-height: 600px;
	}

	&.has_startbar {
		padding-left: var(--layout-startbar);

		@media (max-width: 768px) {
			padding-left: 0;
		}
	}
}

.children_container {
	flex: 1;
	width: 100%;
	background-color: #fff;
}

.inner_container {
	display: flex;

	@media (max-width: 768px) {
		flex-direction: column-reverse;
	}
}

.toggle_mobile {
	display: none;

	@media (max-width: 768px) {
		display: block;
		width: 24px;
		height: 24px;
		padding: 4px;
		margin: 8px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0 0 5px rgba(5, 28, 61, 10%);
	}
}