.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 16px 16px 8px;
}

.button_wrapper {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	width: max-content;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	background-color: #fff;
	border: none;
}

.button_wrapper:hover {
	cursor: pointer;
}

.icon {
	width: 1rem;
	height: 1rem;
	fill: #2c3e50;
}
