.container {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100vw - var(--service-side-panel));
	height: calc(100vh - 56px);
	overflow: auto;
	background-color: #fafafa;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

	&.full_view {
		width: 100vw;
	}

	@media (max-width: 800px) {
		width: 100vw;
	}
}

.header {
	padding: 24px 30px 16px;
	color: #221f20;
	background: #fde74d;

	h1 {
		font-size: 20px;
		font-weight: 700;
		line-height: 150%;
	}

	p {
		display: flex;
		gap: 12px;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
	}
}
